<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @resort.name %>
</p>

<p>
  <b>Altitude(m):</b>
  <%= @resort.altitude_m %>
</p>

<p>
  <b>Altitude(ft):</b>
  <%= @resort.altitude_ft %>
</p>

<p>
  <b>Season start:</b>
  <%= @resort.season_start %>
</p>

<p>
  <b>Season end:</b>
  <%= @resort.season_end %>
</p>

<p>
  <b>Total runs:</b>
  <%= @resort.total_runs %>
</p>

<p>
  <b>Green runs:</b>
  <%= @resort.green_runs %>
</p>

<p>
  <b>Blue runs:</b>
  <%= @resort.blue_runs %>
</p>

<p>
  <b>Red runs:</b>
  <%= @resort.red_runs %>
</p>

<p>
  <b>Black runs:</b>
  <%= @resort.black_runs %>
</p>

<p>
  <b>Single diamond runs:</b>
  <%= @resort.single_diamond_runs %>
</p>

<p>
  <b>Double diamond runs:</b>
  <%= @resort.double_diamond_runs %>
</p>

<p>
  <b>Triple diamond runs:</b>
  <%= @resort.triple_diamond_runs %>
</p>

<p>
  <b>Other runs:</b>
  <%= @resort.other_runs %>
</p>

<p>
  <b>Total lifts:</b>
  <%= @resort.total_lifts %>
</p>

<p>
  <b>Carpet lifts:</b>
  <%= @resort.carpet_lifts %>
</p>

<p>
  <b>Drag lifts:</b>
  <%= @resort.drag_lifts %>
</p>

<p>
  <b>Pommer lifts:</b>
  <%= @resort.pommer_lifts %>
</p>

<p>
  <b>Chair lifts:</b>
  <%= @resort.chair_lifts %>
</p>

<p>
  <b>Covered chair lifts:</b>
  <%= @resort.covered_chair_lifts %>
</p>

<p>
  <b>Express chair lifts:</b>
  <%= @resort.express_chair_lifts %>
</p>

<p>
  <b>Gondola lifts:</b>
  <%= @resort.gondola_lifts %>
</p>

<p>
  <b>Other lifts:</b>
  <%= @resort.other_lifts %>
</p>

<p>
  <b>Terrain parks:</b>
  <%= @resort.terrain_parks %>
</p>

<p>
  <b>Snow making:</b>
  <%= @resort.snow_making %>
</p>

<p>
  <b>Average snow cm:</b>
  <%= @resort.average_snow_cm %>
</p>

<p>
  <b>Piste map link:</b>
  <%= @resort.piste_map_link %>
</p>

<p>
  <b>Official site link:</b>
  <%= @resort.official_site_link %>
</p>

<p>
  <b>Tourism board link:</b>
  <%= @resort.tourism_board_link %>
</p>


<%= link_to 'Edit', edit_resort_path(@resort) %> |
<%= link_to 'Back', resorts_path %>
